
@font-face {
  font-family: 'CooperBlack';
  src: url('CooperBlack.eot?#iefix') format('embedded-opentype'),  url('CooperBlack.woff') format('woff'), url('CooperBlack.ttf')  format('truetype'), url('CooperBlack.svg#CooperBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}
